#root {
  max-width: 680px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size:18px;
  line-height:1.7;
}

@media (prefers-reduced-motion: no-preference) {
    .top {
        transform: translateY(-20px);
        filter: hue-rotate(90deg);
        opacity: 0;
        position: relative;
        transition: all 500ms;
    }

    .right {
        transform: translateX(-20px);
        filter: hue-rotate(90deg);
        opacity: 0;
        position: relative;
        transition: all 500ms;
    }

    .visible {
        transform: translateX(0);
        filter: hue-rotate(0);
        opacity: 1;
    }
}
